export(SPARQL)
export(commonns)
export(sparqlns)
export(sparqltest)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(XML,xmlDoc)
importFrom(XML,xmlParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
importFrom(XML,xpathSApply)
importFrom(XML,xmlGetAttr)
importFrom(XML,getNodeSet)
